* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

head,
header {
    display: block;
    margin: 8px;
}

.navbar {
    color: steelblue;
    background-color: rgba(43, 103, 125, 0.4);
}

a:link,
a:visited {
    color: steelblue;
}

h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    text-align: center;
    display: block;
    font-size: 1.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
}