* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    color: steelblue;
    background-color: rgba(43, 103, 125, 0.4);
}

a:link,
a:visited {
    color: steelblue;
}

h1,
h2 {
    text-align: center;
}