/* Universal styles */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header styles */
header {
    margin: 8px;
}

nav {
    background-color: #2b6777;
    justify-content: center;
    color: #f8f9fa;
}

header nav ul li {
    display: inline-block;
    padding: 10px 10px;
    font-size: 1.1em;
}

/* header nav ul li a:hover {
    color: white;
} */

a:link,
a:visited {
    color: #f8f9fa;
}

/* body styles */
body {
    background-color: #8b8d8fc2;
}

#holder {
    background-color: #8b8d8fc2;
}

h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    text-align: center;
    display: block;
    font-size: 1.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    font-size: 1.5em;
    display: inline-block;
}

figure {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5% 5%;
    padding-left: 4%;
}

/* footer styles */
footer {
    text-align: center;
}

footer section a {
    margin: auto 10px;
}

/* styles for about me section */
#aboutme {
    display: inline-block;
    text-align: center;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}

/* styles for my photo */
.me {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: rotate(-10deg);
}

/* stles for projects section, mainly for just how the projects will be displayed on the webpage */
.placeholder,
.project1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}

.project1 {
    width: fit-content;
    height: 500px;
    padding: 0%;
}

#projects {
    border-style: solid;
    text-align: center;
}

/* styles for contact me icons at the end of the page */
#contact-icons {
    border-radius: 50%;
    height: 70px;
}

/* text alignment for placeholder.html */
#placeholdercenter,
#imagecenter {
    text-align: center;
    margin: auto;
}

/* media queries for website responsiveness on different devices */
/* laptop display */
@media screen and (max-width: 1024px) {
    .empty {
        justify-content: center;
        margin: auto;
        padding: 0%;
    }

    .project1 {
        max-width: 90vw;
    }
}

/* tablet display */
@media screen and (max-width: 768px) {
    .empty {
        width: 100vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .project1 {
        height: 80vh;
        margin-top: -20px;
        margin-bottom: -10px;
    }
}

/* mobile L display */
@media screen and (max-width: 426px) {
    h1 {
        font-size: 1.8em;
    }

    .project1 {
        height: 50vh;
    }

    #contact-icons {
        height: 60px;
    }
}

/* mobile S display */
@media screen and (max-width: 320px) {
    nav {
        font-size: small;
    }

    h1 {
        font-size: 1.2em;
    }

    section {
        font-size: small;
    }

    .project1 {
        height: 40vh;
    }

}